$navbar-default-bg:#f0f5f5;
@import "bootstrap-sprockets";
@import "bootstrap";



#logo {
  float:left;
  font-size: 1.7em;
  color:black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  background-size:cover;

}

#logo:hover {
  color: #fff;
  text-decoration:none;
}

.nav.navbar-nav li a {
  color:black;
}

.center {
  text-align:center;
}

.jumbotron {
  background-image: asset-url('fantasy.jpeg');
  background-size: cover;
  height: 575px;
  background-position:center;
}

.jumbotron h1 {
  
  color:black;
  text-align:center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight:bold;
  
}

.btn-xlarge {
  font-size: 1.7em;
  
}


.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  
}

.description{
  margin-top: 0;
}

.article-title{
  font-weight:bold;
  font-size:1.5em;
  
}

  
.listings {
  list-style:none;
  padding-left:0;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  
.article-meta-details{
  border-top: 1px solid #silver;
  margin-top: 15px;
}

  
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  
  
}

footer a:hover{
  color:#222;
}

footer small {
  float:left;
}

footer ul {
  float:right;
  list-style:none;
}

footer ul li {
  float:left;
  margin-left: 15px;
}


